body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(226, 223, 223);
}

.heading {
  padding: 30px 0;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 500;
  color: rgba(172, 16, 16, 0.63);
  background-color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
}
.cards {
  width: 100%;
  height: auto;
}
.card {
  margin: 5%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 22%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.5s, 1.05);
}
.card_img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card_info {
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
  background-color: #fff;
}
.card_category {
  font-family: -apple-system, BlinkMacSystemFont;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
}

.card_title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}
button {
  padding: 5px 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  outline: none;
  border: 1px solid #000000;
  cursor: pointer;
}
@media (max-width: 768px) {
  .card {
    float: none;
    margin: 5%;
    width: 90%;
  }
}
